<% include ./partials/header %>
  <!-- add ajax form to add list items -->
  <h1>Todos:</h1>
  <table class='table'>
    <tr class="list-group">
    <!-- stuff -->
    </tr>
  </table>

<% include ./partials/footer %>
