</body>

<!-- If you wish to start with the starterScript file, comment out line 4 -->
<!-- and uncomment line 5 -->
<!-- <script type="text/javascript" src="/script.js"></script> -->
<script type="text/javascript" src="/starterScript.js"></script>

</html>
